h1{
    color: aqua;
}
h3{
    color: darkred;
    font-family: "Arial Narrow";
    margin: 15px;
}
h4{
    color: darkgreen;
    margin: 15px;
}
header{
    color: brown;
    font-size: 30px;
    font-family: "Arial Black";
    margin: 40px;
    background: darkgray ;
    text-align: center;
}
body{
    background-color: darkgrey;
}
article{
    font-family:Arial;
    font-size: 20px;
    color: green;
    text-align: center;
    margin: 20px;
}